header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #0071dc;
  padding: 10px 0px;
}

.logo-container{
  display: flex;
  margin: 0 40px;
}

.search-container{
  display: flex;
  flex: 1;
  justify-content: center;
}

.link-container{
  display: flex;
  margin:  0 40px;
}

.icon-container{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.link-container ul{
  display: flex;
  padding: 0;
  align-items: center;
  list-style: none;
}

.logo-container h1{
  color: #fff;
}

.logo-container img{
  height: 40px;
  object-fit: contain;
  align-self: center;
  filter: invert(99%) sepia(1%) saturate(4%) hue-rotate(333deg) brightness(101%) contrast(104%);
}

.search-container input{
  width: 100%;
  height: 34px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-style: none;
  font-size: 16px;
}

.icon-container img{
  filter: invert(76%) sepia(77%) saturate(548%) hue-rotate(338deg) brightness(101%) contrast(101%);
  height: 28px;
}

.link-container ul li{
  margin: 0 10px;
  color: #fff;
  font-weight: 600;
}

.link-container ul img{
  filter: invert(76%) sepia(77%) saturate(548%) hue-rotate(338deg) brightness(101%) contrast(101%);
}